<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <link rel="stylesheet" href="./css/about.css">
    <link rel="stylesheet" href="./css/about mediaQuary.css">
    <link rel="stylesheet" href="./icons/bootstrap-icons.css">
</head>

<body>
    <div class="heading">
        <h1>#about me</h1>
    </div>
    <div id="personal_info">
        <h2>personal info</h2>
        <p>my name is maaz khan. i am professional website developer. i have a great experience in web development. i
            live in malakand, pakistan. i am student of bachalor computer science. i work on both front-end and back-end
            development and also fix website bugs and design problems.</p>
        <p>i use html, css, javascript, jquary, nodejs, expressjs, and mongodb to make website. i will create beautiful
            websites for you at affordable price</p>
    </div>



<!-- contact info -->
    <div id="contact_info">
        <h2>contact info</h2>
        <table class="contact_details">
            <tr><td>contact number </td><td> &nbsp&nbsp&nbsp &nbsp<a href="tel:+923189800472">+92 3189800472</a></td></tr>
            <tr><td>email          </td><td> &nbsp&nbsp&nbsp &nbsp<a href="#">maaz88702@gmail.com</a></td></tr>
            <tr><td>twitter        </td><td> &nbsp&nbsp&nbsp &nbsp<a href="https://x.com/maaz88702">twitter.com/maaz88702</a></td></tr>
            <tr><td>address        </td><td> &nbsp&nbsp&nbsp &nbsp<a href="#">malakand</a></td></tr>
            <tr><td>whatsapp       </td><td> &nbsp&nbsp&nbsp &nbsp<a href="wa.link/9nh6v2">+92 3189800472</a></td></tr>

        </table>
    </div>

        <!-- education -->
    <!-- in table form -->
    <div id="education">
        <h2>education</h2>
        <table>
            <tr>
                <td>matric</td><td>army public school sialkot cantt</td>
            </tr>
            <tr>
                <td>f.sc</td><td>fg inter collage btk</td>
            </tr>
            <tr>
                <td>diploma of IT</td><td>perfect institute of science and technology</td>
            </tr>
            <tr>
                <td>graphics</td><td>bright future institute</td>
            </tr>
            <tr>
                <td>web development</td><td>bright future institute</td>
            </tr>
            <tr>
                <td>b.Sc computer science</td><td>university of malakand</td>
            </tr>
           
        </table>
            </div>
  

        <!-- PROJECTS -->
        <div id="project">
            <h2>projects</h2>
            <div class="wrapper">
                <a href="#"><img src="/images/youtube .Sheri sk (99).jpg" alt=""></a>
                <a href="#"><img src="/images/youtube .Sheri sk (99).jpg" alt=""></a>
                <a href="#"><img src="/images/youtube .Sheri sk (99).jpg" alt=""></a>
                <a href="#"><img src="/images/youtube .Sheri sk (99).jpg" alt=""></a>
                <a href="#"><img src="/images/youtube .Sheri sk (99).jpg" alt=""></a>
            </div>
        </div>

        <!-- FOOTER -->
        <footer>
            <div class="text">all right reserved &copy; developed by <span>maaz khan</span></div>
            <div class="social_links">
                <a href="https://www.facebook.com/share/1Ac4EWtQfL/"> <i class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com/maazkhan88702?igsh=YzljYTk1ODg3Zg=="> <i class="bi bi-instagram"></i></a>
                <a href="wa.link/9nh6v2"> <i class="bi bi-whatsapp"></i></a>
                <a href="https://x.com/maaz88702"> <i class="bi bi-twitter"></i></a>
            </div>
        </footer>
</body>

</html>