<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="icons/bootstrap-icons.css">
    <link rel="stylesheet" href="css/contact.css">
    <link rel="stylesheet" href="css/contact mediaQuary.css">
</head>
<body>
     <!-- navigation -->
     <nav>
        <div class="left">
            <a href="/">home</a>
            <a href="/about">about</a>
            <a href="/contact" class="active">contact info</a>
        </div>

        <div class="right">
            <a href="https://www.facebook.com/share/1Ac4EWtQfL/"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/maazkhan88702?igsh=YzljYTk1ODg3Zg=="><i class="bi bi-instagram"></i></a>
            <a href="wa.link/9nh6v2"><i class="bi bi-whatsapp"></i></a>
        </div>
    </nav>
    <!-- MAIN -->
    <main>
        <a href="https://www.facebook.com/share/1Ac4EWtQfL/"><i class="bi bi-facebook"></i></a>
        <a href="wa.link/9nh6v2"><i class="bi bi-instagram"></i></a>
        <a href="https://www.instagram.com/maazkhan88702?igsh=YzljYTk1ODg3Zg=="><i class="bi bi-whatsapp"></i></a>
        <a href="https://x.com/maaz88702"><i class="bi bi-x"></i></a>
        <a href="https://www.fiverr.com/maazkhan596/"><i class="bi bi-instagram"></i></a>
        <!-- <a href="freelancer"><i class="bi bi-facebook"></i></a> -->
        <a href="tel:+923189800472"><i class="bi bi-facebook"></i></a>
    </main>

    <!-- FOOTER -->
    <footer>
        <div class="text">all right reserved &copy; developed by <span>maaz khan</span></div>
        <div class="social_links">
            <a href="https://www.facebook.com/share/1Ac4EWtQfL/"> <i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/maazkhan88702?igsh=YzljYTk1ODg3Zg=="> <i class="bi bi-instagram"></i></a>
            <a href="wa.link/9nh6v2"> <i class="bi bi-whatsapp"></i></a>
            <a href="https://x.com/maaz88702"> <i class="bi bi-twitter"></i></a>
        </div>
    </footer>
    
</body>
</html>