<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>portfolio</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="./css/home mediaQuary.css">
    <link rel="stylesheet" href="icons/bootstrap-icons.css">
</head>

<body>


    <!-- MAIN SECTION -->
    <main>

        <!-- navigation -->
        <nav>
            <div class="left">
                <a href="/" class="active">home</a>
                <a href="/about">about</a>
                <a href="/contact">contact info</a>
            </div>

            <div class="right">
                <a href="https://www.facebook.com/share/1Ac4EWtQfL/"><i class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com/maazkhan88702?igsh=YzljYTk1ODg3Zg=="><i
                        class="bi bi-instagram"></i></a>
                <a href="wa.link/9nh6v2"><i class="bi bi-whatsapp"></i></a>
            </div>
        </nav>

        <div class="text_container">
            <h2>Hi, I'm Maaz Khan.</h2>
            <p>I'm full-stack web developer</p>
            <div class="buttons">
                <a href="others/maaz_2.pdf" download="deveploper cv">download cv</a>
                <a href="#form">get in touch</a>
            </div>
        </div>
    </main>

    <!-- ABOUT SECTION -->
    <section id="about">
        <h1>about me</h1>
        <div class="text_wrapper">
            <p>My Name Is Maaz Khan .I Am A Webdeveloper From Pakistan I Worked Over 2 Years As A Programmer I Am A
                Studend
                Of Computer Science . I Worked In Many Projects I Am Html, Css, Javascript, JQuary, Nodejs, Reactjs,
                Express
                Js, And Mongodb Developer And I Am A Professional Webdeveloper</p>
            <img src="/images/CV2.png" alt="developer image">
        </div>
    </section>

    <!-- SERVICES SECTION -->
    <section id="services">
        <h1>services</h1>
        <div class="card_wrapper">
            <div class="card">
                <img src="/images/logo192.png" alt="">
                <h2>front-end development</h2>
                <p>we offer front-end webdevelopment
                    and create beautiful websites.
                </p>
            </div>

            <div class="card">
                <img src="/images/logo192.png" alt="">
                <h2>back-end development</h2>
                <p>we create full-stack website using
                    mern stack technology and create a complete websites.
                </p>
            </div>

            <div class="card">
                <img src="/images/logo192.png" alt="">
                <h2>website fixes</h2>
                <p>we also fix website design and give a good look to it.
                    we also fix functionality of it.
                </p>
            </div>
        </div>
    </section>

    <!-- SKILLS -->
    <section id="skills">
        <h1>expertise</h1>
        <div class="container">
            <div class="box"><img src="/images/excel.png" alt=""></div>
            <div class="box"><img src="/images/excel.png" alt=""></div>
            <div class="box"><img src="/images/excel.png" alt=""></div>
            <div class="box"><img src="/images/excel.png" alt=""></div>
            <div class="box"><img src="/images/excel.png" alt=""></div>
            <div class="box"><img src="/images/excel.png" alt=""></div>
            <div class="box"><img src="/images/excel.png" alt=""></div>
            <div class="box"><img src="/images/excel.png" alt=""></div>
            <div class="box"><img src="/images/excel.png" alt=""></div>
        </div>
    </section>

    <!-- FORM SECTION -->
    <section id="form">
        <form action="/feedback" method="POST">
            <h2>get in contact</h2>
            <input type="text" placeholder="enter your name..." name="user_name">
            <input type="email" placeholder="enter your email..." name="email">
            <textarea name="message" id="" placeholder="type your message here..." rows="10"></textarea>
            <input type="submit">
            <hr>
            <div class="social_links">
                <i class="bi bi-facebook"></i>
                <i class="bi bi-facebook"></i>
                <i class="bi bi-facebook"></i>
            </div>
        </form>
    </section>

    <footer>
        <div class="text">all right reserved &copy; developed by <span>maaz khan</span></div>
        <div class="social_links">
            <a href="https://www.facebook.com/share/1Ac4EWtQfL/"> <i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/maazkhan88702?igsh=YzljYTk1ODg3Zg=="> <i class="bi bi-instagram"></i></a>
            <a href="wa.link/9nh6v2"> <i class="bi bi-whatsapp"></i></a>
            <a href="https://x.com/maaz88702"> <i class="bi bi-twitter"></i></a>
        </div>
    </footer>

</body>

</html>