@media screen and (max-width:963px) {

    #contact_info table {
        width: 75%;
    }

    #education table {
        width: 75%;
    }
}

@media screen and (max-width:795px) {
    html {
        font-size: 12px;
    }
}

@media screen and (max-width:529px) {
    .heading {
        height: 20vh;
    }

    #contact_info table {
        width: 100%;
    }

    #education table {
        width: 100%;
    }

    footer .text {
        margin-right: 15%;
    }

    footer .social_links {
        right: 1rem;
    }
}

@media screen and (max-width:413px) {
    footer {
        justify-content: flex-start;
        padding: 0.5rem 1.2rem;
    }

    footer .social_links a {
        margin: 0 3px;
    }
}